Source: python-coloredlogs
Section: python
Priority: optional
Maintainer: Gaurav Juvekar <gauravjuvekar@gmail.com>
Build-Depends: debhelper (>= 10), dh-python,
			   python-pytest,
			   python3-pytest,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Standards-Version: 3.9.8
Homepage: https://coloredlogs.readthedocs.io

Package: python-coloredlogs
Architecture: all
Depends: python-humanfriendly, ${misc:Depends}, ${python:Depends},
Recommends: ${python:Recommends}
Suggests: ${python:Suggests}
Description: Colored terminal output for the logging module in Python2
 A Python library to enable colored terminal output for Python's logging
 module. This library provides a ColoredFormatter class to render logging
 messages in color using ANSI escape sequences. It uses only the standard
 colors and so should work on any UNIX terminal.
 .
 This package provides the module for Python2.

Package: python3-coloredlogs
Architecture: all
Depends: python3-humanfriendly, ${misc:Depends}, ${python3:Depends},
Recommends: ${python3:Recommends}
Suggests: ${python3:Suggests}
Description: Colored terminal output for the logging module in Python3
 A Python library to enable colored terminal output for Python's logging
 module. This library provides a ColoredFormatter class to render logging
 messages in color using ANSI escape sequences. It uses only the standard
 colors and so should work on any UNIX terminal.
 Any log format can be used, and the format and styling can be further
 customized with environment variables as well as programmatically.
 .
 This package provides the module for Python3.
